*{
    margin: 0 ;
    padding: 0;
}
:root{
    ---background-color: #020d18;
}
::-webkit-scrollbar{
    background-color:  #020d18;
    width: 10px;
    
}
::-webkit-scrollbar-thumb{
    background-color:  white;
    
}
body{
    background: url(http://busterhtml.mbkip3ms9u-e92498n216kr.p.temp-site.link/images/uploads/slider-bg.jpg);
    background-color: var(---background-color);
    color: white;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.Navabar{
    margin-left: 13.3%;
    margin-top: 2rem;
    margin-bottom: 60px;
    gap: 100px;

}
.Navabar input{
    width: 500px;
    position: relative;
    border: #000 solid 1mm;
    background-color: #233a50;
    color: #abb7c4;
    padding: 5px;
}
.Movies{
    display: inline-grid;
    row-gap: 20px;
    margin-left: 200px;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto;
}
.Movies p{
    position:absolute ; 
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    margin-top: 320px;
    margin-left: 10px;
    width: 220px;  /*to fit text*/
    word-wrap: break-word; 
    z-index: 100;
}
@media ( max-width: 700px) {
    .Movies{
        margin-left: 20%;
        grid-template-columns: 1fr ;
    }    
    .Navabar input{
        width: 300px;
    }
    .Navabar {
        margin-left: 5%;
        text-align: center;
    }
    .movie{
        grid-template-columns: auto;
    }
}
.Poster{
    height: 400px;
    display: block;
    width: 250px;
    background-color: white;
    border:#000 0.1mm solid; 
}
.Poster img{
    filter: brightness(70%);
}
.Poster:hover {
    box-shadow: rgb(46, 62, 79) 0px 20px 30px -10px;
}
.Poster img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
/*Loading/////////////////////////////////*/
.lds-ring {
    margin-left: 50%;
    margin-top: 10%;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*------------------------*/
.Movie-info{
    margin-left: 3rem;
    width: 550px;
}
.Movie-info button{
    padding: 5px;
    background-color: rgb(248, 70, 64);
    border: none;
    border-radius: 2px;
}
.movie{
    display: inline-grid;
    grid-template-columns: auto auto ;
    padding-top: 3rem;
    padding-left: 4rem;
}
.movie img{
    object-fit: cover;
    height: 500px;
}
.rated{
    width: 60px;
    color: #000;
    text-align: center;
    border-radius: 3px;
}
.PG-13{
    background-color: rgb(191, 120, 221);
}
.R{
    background-color: red;
}
.TV-PG{
    background-color:  rgb(240, 191, 76);
}
.TV-MA{
    background-color:  #3366CC;
}
.PG{
    background-color:  rgb(255, 165, 0);
}