body{
    background-color: #f28ab2;
}
.book div{
    padding: 30px ;
    display: flex;

}
.book h1{
   padding-left: 45%;
   font-size: 40px;
}
.bookContent {
    width: 18%;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    grid-template-columns: repeat(3,1);
}
.images-person{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
    width: 75px;
    height: 75px;
}
.ClearAll{ 
    width: 405px ;
    height: 34px;
    margin-top: 20px;
    background-Color:#f28ab2; 
    color:white; 
    border: #f28ab2 1px solid;  
    padding-right: 30px;
    border-radius: 10px;
}
.ClearAll:hover{
    background-Color:white; 
    color:#f28ab2; 
}
.container{
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin-top: 4%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0  10px 20px 0 rgba(0, 0, 0, 0.19);
}
